@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    width: 28rem;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: #28272a;
    top: 0;
    list-style-type: none;
    padding: 2rem;
    font-size: 1.25rem;
    transform: translateY(-100%);
    transition: all 0.4s;
}

.sidebar--open{
    transform: translateY(0%);
}

.link__none{
    display: none;
}

.link__block{
    display: block;
}