@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
    width: 28rem;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: #28272a;
    top: 0;
    list-style-type: none;
    padding: 2rem;
    font-size: 1.25rem;
    transform: translateY(-100%);
    transition: all 0.4s;
}

.sidebar--open{
    transform: translateY(0%);
}

.link__none{
    display: none;
}

.link__block{
    display: block;
}

.load-center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}
.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}
.loading{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
}
.pulse{
    filter: blur(3px);
    animation: leftToRight 2s infinite;
}

@keyframes leftToRight {
    0% {
        transform: translateX(-300px);
        opacity: .2;
    }
    100% {
        transform: translateX(800px);
        opacity: 0;
    }
}